/* Temp START*/

.gm-style-iw {
  background: #FFFFFF !important;
  border-radius: 25px 25px 0px 25px !important;
  margin-left: -130px !important;
}

button.gm-ui-hover-effect{
  display: none !important;
}

/* Temp END */

.gm-style-iw-tc::after {
  display: none !important;
}

.custom-marker-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: 'black';
  text-shadow: 1px solid rgba(255, 255, 255, 0.6);
  position:absolute;
  margin-left: 20px;
  margin-top: -30px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px;
  border-radius: 4px;
  z-index: 1000;
  width: auto;
  max-width: 100px;
  text-align: start;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}